.top-categories-container {
  max-width: 1400px;
  margin: 36px auto;
  padding: 0 38px;
}

.top-categories-title {
  font-size: 2.35rem;
  text-transform: uppercase;
  margin-bottom: 18px;
  font-weight: 900;
  font-style: italic;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
}

.top-categories-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 275px;
  gap: 20px;

  grid-template-areas:
    'keyboard mouse'
    'keyboard mousepad'
    'headset controller'
    'performance controller';
}

.keyboard {
  grid-area: keyboard;
}

.mouse {
  grid-area: mouse;
}

.mousepad {
  grid-area: mousepad;
}

.headset {
  grid-area: headset;
}

.performance {
  grid-area: performance;
}

.controller {
  grid-area: controller;
}

.top-category-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background: #111;
}

.top-category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.top-category-card img:hover{
  transform: scale(1.1);
}

.top-category-card::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent 55%); 
  pointer-events: none;
}



.category-content {
  position: absolute;
  left: 20px;
  bottom: 18px;
  z-index: 2;
}

.category-content h3 {
  font-size: 1.7rem;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
}

.category-tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  cursor: pointer;
}

.category-tags span {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 7px 12px;
  font-size:14px;
  font-weight: 700;
  background: #ffffff29;
}

@media(max-width: 768px){
  .top-categories-grid{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}